body{ margin:0;color: blue}
header{background-color:#626fe6;padding:20px;}
h1 { text-align:center;
    font-size: 40px;
    color:black;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

a{ color:white; text-decoration: none; margin-right:20px;}

main{ background-color:#e3f6f5;padding: 20px;
color:black; min-height:800px;}

footer{ background-color:#626fe6;
color:black; padding: 10px;
font-size: 14px;
text-align: center;}
li {
    font-weight: bold;
    margin-bottom: 8px;}
	
#img1, #img2, #img3{
    width: 400px;              
    margin: 20px auto;    
}
#img-finale, #img-campionato{ width: 400px;              
    margin: 20px auto;   
}